In [60]:
import pandas as pd
import boto3
import configparser

In [61]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

In [62]:
client = boto3.client(
    's3',
    aws_access_key_id = KEY,
    aws_secret_access_key = SECRET,
    region_name = 'us-west-2'
)

s3 =  boto3.resource('s3',
                    region_name = 'us-west-2',
                    aws_access_key_id = KEY,
                    aws_secret_access_key = SECRET
                    )

sampleDbBucket =  s3.Bucket("udacity-dend")

In [68]:
sampleDbBucket.objects.filter(Prefix="log_data")

s3.Bucket.objectsCollection(s3.Bucket(name='udacity-dend'), s3.ObjectSummary)

In [73]:
log_size = sum(1 for _ in sampleDbBucket.objects.filter(Prefix="log_data"))
song_size = sum(1 for _ in sampleDbBucket.objects.filter(Prefix="song_data"))
print(f"The log_data size: {log_size}")
print(f"The song_data size: {song_size}")

The log_data size: 31
The song_data size: 14897

In [65]:
for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [50]:
log_obj = client.get_object(
    Bucket = 'udacity-dend',
    Key = 'log_data/2018/11/2018-11-02-events.json'
)

log_df = pd.read_json(log_obj['Body'], lines = True)

print('Printing the data frame...')
print(log_df)

Printing the data frame...
                        artist       auth firstName gender  itemInSession  \
0    N.E.R.D. FEATURING MALICE  Logged In    Jayden      M              0
1                         None  Logged In   Stefany      F              0
2          Death Cab for Cutie  Logged In   Stefany      F              1
3             Tracy Gang Pussy  Logged In   Stefany      F              2
4                      Skillet  Logged In     Kevin      M              0
..                         ...        ...       ...    ...            ...
166                    OutKast  Logged In    Ayleen      F              3
167            Bloodhound Gang  Logged In     Kaleb      M              0
168                  Rammstein  Logged In     Isaac      M              0
169           Gershon Kingsley  Logged In     Isaac      M              1
170                  The Rakes  Logged In     Isaac      M              2

     lastName     length level                  location method      page  \
0         Fox  288.99220  free  New Orleans-Metairie, LA    PUT  NextSong
1       White        NaN  free               Lubbock, TX    GET      Home
2       White  216.42404  free               Lubbock, TX    PUT  NextSong
3       White  221.33506  free               Lubbock, TX    PUT  NextSong
4    Arellano  178.02404  free   Harrisburg-Carlisle, PA    PUT  NextSong
..        ...        ...   ...                       ...    ...       ...
166      Wise  227.52608  free              Columbia, SC    PUT  NextSong
167      Cook  260.20526  free             Yuba City, CA    PUT  NextSong
168    Valdez  228.46649  free               Saginaw, MI    PUT  NextSong
169    Valdez  146.57261  free               Saginaw, MI    PUT  NextSong
170    Valdez  150.59546  free               Saginaw, MI    PUT  NextSong

      registration  sessionId                             song  status  \
0    1541033612796        184         Am I High (Feat. Malice)     200
1    1540708070796         82                             None     200
2    1540708070796         82  A Lack Of Color (Album Version)     200
3    1540708070796         82                    I Have A Wish     200
4    1540006905796        153          Monster (Album Version)     200
..             ...        ...                              ...     ...
166  1541085793796         70                      Ova Da Wudz     200
167  1540679673796         53       Uhn Tiss Uhn Tiss Uhn Tiss     200
168  1541078099796        112                            Adios     200
169  1541078099796        112                         Pop Corn     200
170  1541078099796        112                       Strasbourg     200

                ts                                          userAgent  userId
0    1541121934796  "Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...     101
1    1541122176796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...      83
2    1541122241796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...      83
3    1541122457796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...      83
4    1541126568796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...      66
..             ...                                                ...     ...
166  1541184339796  "Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like...      71
167  1541187675796  Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...      54
168  1541191023796  Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...       3
169  1541191251796  Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...       3
170  1541191397796  Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...       3

[171 rows x 18 columns]

In [52]:
log_df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,N.E.R.D. FEATURING MALICE,Logged In,Jayden,M,0,Fox,288.99220,free,"New Orleans-Metairie, LA",PUT,NextSong,1541033612796,184,Am I High (Feat. Malice),200,1541121934796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",101
1,None,Logged In,Stefany,F,0,White,NaN,free,"Lubbock, TX",GET,Home,1540708070796,82,None,200,1541122176796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
2,Death Cab for Cutie,Logged In,Stefany,F,1,White,216.42404,free,"Lubbock, TX",PUT,NextSong,1540708070796,82,A Lack Of Color (Album Version),200,1541122241796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
3,Tracy Gang Pussy,Logged In,Stefany,F,2,White,221.33506,free,"Lubbock, TX",PUT,NextSong,1540708070796,82,I Have A Wish,200,1541122457796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
4,Skillet,Logged In,Kevin,M,0,Arellano,178.02404,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1540006905796,153,Monster (Album Version),200,1541126568796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66

In [51]:
log_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artist         155 non-null    object
 1   auth           171 non-null    object
 2   firstName      171 non-null    object
 3   gender         171 non-null    object
 4   itemInSession  171 non-null    int64
 5   lastName       171 non-null    object
 6   length         155 non-null    float64
 7   level          171 non-null    object
 8   location       171 non-null    object
 9   method         171 non-null    object
 10  page           171 non-null    object
 11  registration   171 non-null    int64
 12  sessionId      171 non-null    int64
 13  song           155 non-null    object
 14  status         171 non-null    int64
 15  ts             171 non-null    int64
 16  userAgent      171 non-null    object
 17  userId         171 non-null    int64
dtypes: float64(1), int64(6), object(11)
memory usage: 24.2+ KB

In [55]:
#for obj in sampleDbBucket.objects.filter(Prefix="song_data"):
    #print(obj)

SyntaxError: unexpected EOF while parsing (<ipython-input-55-5235061237dd>, line 2)

In [56]:
#s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAK128F9318786.json')

song_obj = client.get_object(
    Bucket = 'udacity-dend',
    Key = 'song_data/A/A/A/TRAAAAK128F9318786.json'
)

song_df = pd.read_json(song_obj['Body'], lines = True)

print('Printing the data frame...')
print(song_df)

Printing the data frame...
            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARJNIUY12298900C91              NaN                               NaN

    artist_name  duration  num_songs             song_id   title  year
0  Adelitas Way  213.9424          1  SOBLFFE12AF72AA5BA  Scream  2009

In [57]:
song_df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARJNIUY12298900C91,NaN,,NaN,Adelitas Way,213.9424,1,SOBLFFE12AF72AA5BA,Scream,2009

In [58]:
song_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artist_id         1 non-null      object
 1   artist_latitude   0 non-null      float64
 2   artist_location   1 non-null      object
 3   artist_longitude  0 non-null      float64
 4   artist_name       1 non-null      object
 5   duration          1 non-null      float64
 6   num_songs         1 non-null      int64
 7   song_id           1 non-null      object
 8   title             1 non-null      object
 9   year              1 non-null      int64
dtypes: float64(3), int64(2), object(5)
memory usage: 208.0+ bytes