In [45]:
%load_ext sql
import configparser

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [46]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_ENDPOINT= config.get('CLUSTER', 'HOST')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

In [47]:
import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cesb55nftlgt.us-west-2.redshift.amazonaws.com:5439/dwh

Exception during reset or similar
Traceback (most recent call last):
  File "/Users/masonwaters/opt/miniconda3/lib/python3.8/site-packages/sqlalchemy/pool/base.py", line 697, in _finalize_fairy
    fairy._reset(pool)
  File "/Users/masonwaters/opt/miniconda3/lib/python3.8/site-packages/sqlalchemy/pool/base.py", line 893, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/masonwaters/opt/miniconda3/lib/python3.8/site-packages/sqlalchemy/engine/default.py", line 558, in do_rollback
    dbapi_connection.rollback()
psycopg2.OperationalError: SSL SYSCALL error: EOF detected

'Connected: dwhuser@dwh'

In [ ]:
query = """
    Select count(*)
    FROM staging_events;"""

%sql $query

In [ ]:
query = """
    Select count(*)
    From staging_songs;"""

%sql $query

In [48]:

query = """
     select user_id, first_name, last_name
     from users
     limit 10;
"""

%sql $query

 * postgresql://dwhuser:***@dwhcluster.cesb55nftlgt.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(6, 'Cecilia', 'Owens'),
 (20, 'Aiden', 'Ramirez'),
 (36, 'Matthew', 'Jones'),
 (36, 'Matthew', 'Jones'),
 (49, 'Chloe', 'Cuevas'),
 (49, 'Chloe', 'Cuevas'),
 (50, 'Ava', 'Robinson'),
 (55, 'Martin', 'Johnson'),
 (61, 'Samuel', 'Gonzalez'),
 (70, 'Jaleah', 'Hayes')]

In [49]:
query = """
    select count(*)
    from users;
    """
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cesb55nftlgt.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [50]:
query = """
    select count(*)
    from song;"""

%sql $query

 * postgresql://dwhuser:***@dwhcluster.cesb55nftlgt.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [ ]:
query = """
    select count(*)
    from artist;"""

%sql $query

In [ ]:
query = """
    select count(*)
    from songplay;"""

%sql $query

In [56]:
query = """
    SELECT title, duration
    FROM song
    order by duration desc
    limit 10;"""

%sql $query

 * postgresql://dwhuser:***@dwhcluster.cesb55nftlgt.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Chapter One: Destiny', Decimal('2709')),
 ('Bitesize - Electro Beats Mix', Decimal('1686')),
 ('The Illusion of Motion', Decimal('1570')),
 ('Sorrow', Decimal('1519')),
 ('Raga Anandi Kalyan (Alap_ jor and jhala)', Decimal('1519')),
 ("The Young Lutheran's Guide To The Orchestra", Decimal('1490')),
 ('Nomades Monades', Decimal('1394')),
 ('Horizon', Decimal('1373')),
 ('A Faust Symphony S108 (1987 Digital Remaster): II.      Gretchen (Andante soave)', Decimal('1237')),
 ('Lonely Astronaut', Decimal('1232'))]

In [34]:
query = """
    select a.artist_name, s.title, s.duration
    from artist a
    JOIN song s on (a.artist_id = s.artist_id)
    ORDER BY s.duration DESC
    limit 15;"""

%sql $query

 * postgresql://dwhuser:***@dwhcluster.cesb55nftlgt.us-west-2.redshift.amazonaws.com:5439/dwh
15 rows affected.

[('Jean Grae', 'Chapter One: Destiny', Decimal('2709')),
 ('Ministry of Sound', 'Bitesize - Electro Beats Mix', Decimal('1686')),
 ('Yob', 'The Illusion of Motion', Decimal('1570')),
 ('Reverend Bizarre', 'Sorrow', Decimal('1519')),
 ('Dennis Brown', 'Raga Anandi Kalyan (Alap_ jor and jhala)', Decimal('1519')),
 ('Kartik Seshadri', 'Raga Anandi Kalyan (Alap_ jor and jhala)', Decimal('1519')),
 ('Garrison Keillor', "The Young Lutheran's Guide To The Orchestra", Decimal('1490')),
 ('Frederic Galliano', 'Nomades Monades', Decimal('1394')),
 ('Jon & Vangelis', 'Horizon', Decimal('1373')),
 ('Royal Philharmonic Orchestra/Sir Thomas Beecham', 'A Faust Symphony S108 (1987 Digital Remaster): II.      Gretchen (Andante soave)', Decimal('1237')),
 ('Joseph Arthur', 'Lonely Astronaut', Decimal('1232')),
 ('Bohren & Der Club Of Gore', 'Zeigefinger', Decimal('1228')),
 ('Henry Gendrot', 'Euphrasia', Decimal('1211')),
 ('Stephan Micus', 'For Abai and Togshan', Decimal('1204')),
 ('No Cash', 'Run Your Pockets', Decimal('1179'))]

In [35]:
query = """
    select count(*)
    from artist;"""

%sql $query

 * postgresql://dwhuser:***@dwhcluster.cesb55nftlgt.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [37]:
query = """
    SELECT t.weekday, count(s.songplay_id) as number_of_listens_each_day
    from time t
    JOIN songplay s on (t.start_time = s.start_time)
    group by t.weekday
    order by number_of_listens_each_day DESC;"""

%sql $query

 * postgresql://dwhuser:***@dwhcluster.cesb55nftlgt.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[(5, 1966), (3, 1937), (4, 1570), (2, 1526), (1, 1501), (6, 901), (0, 556)]

In [44]:
query = """
 SELECT t.weekday, s.title, count(s.song_id) as number_of_listens
 from time t
 JOIN songplay sp on (t.start_time = sp.start_time)
 JOIN song s on (sp.song_id = s.song_id)
 GROUP BY t.weekday, s.title
 ORDER BY number_of_listens DESC
 LIMIT 10;"""

%sql $query

 * postgresql://dwhuser:***@dwhcluster.cesb55nftlgt.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(2, 'Day Old Blues', 13),
 (2, 'Ragoo', 13),
 (5, "Don't Panic", 13),
 (5, 'One I Love', 13),
 (2, 'Genius', 13),
 (5, 'A Rush Of Blood To The Head (Live In Sydney)', 13),
 (2, 'Wicker Chair', 13),
 (5, 'Speed Of Sound (Live)', 13),
 (3, 'A Rush Of Blood To The Head (Live In Sydney)', 12),
 (3, 'One I Love', 12)]

In [ ]:
query = """
 SELECT t.weekday, a.artist_name, count(a.artist_id) as number_of_listens
 from time t
 JOIN songplay sp on (t.start_time = sp.start_time)
 JOIN artist_name a on (sp.song_id = a.artist_id)
 GROUP BY CUBE (t.weekday, a.artist);
"""

%sql $query